		<!-- Sidebar Visibility Control -->
		<input type="checkbox" id="nav-display">

		<!-- Sliding Sidebar -->
		<div class="nav-container" id="nav-container">

			<nav class="nav-menu">

				{% assign pages_list = site.pages | sort:"url" %}
				{% for node in pages_list %}
					{% if node.hidden != true %} <!--  and !node.label -->
						{% if node.category and site.data.meta[node.category].name %}
							{% if site.data.meta[node.category].hidden != true %}
								<a class="nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}" title="{{ site.data.meta[node.category].description }}">{{ site.data.meta[node.category].name }}</a>
							{% endif %}
						{% else if node.title != null and node.layout != "post" %}
							<a class="nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}" {% if node.lead %} title="{{ node.lead }}"{% endif %}>{{ node.title }}</a>
						{% endif %}
					{% endif %}
				{% endfor %}

			</nav>

		</div>

		<!-- Visibility Control Overlay -->
		<label for="nav-display" class="nav-toggle menu-icon"></label>