.nav-container {
	z-index: 10;
	position: fixed;
	margin: 0;
	top: 0;
	bottom: 0;
	left: 0-$navigation-width;
	width: $navigation-width;
	overflow-y: auto;
	padding-top: 2rem;
	visibility: hidden;
	font-size: 0.8rem;
	font-family: $font-heading;
	color: transparentize($colour-background, 0.4);
	background-color: $colour-highlight;
	background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 380 730" fill="none" stroke-linecap="square" stroke-miterlimit="10" xmlns="http://www.w3.org/2000/svg" opacity=".2"><clipPath id="a"><path d="M0 0h380.113v718.995H0V0z"/></clipPath><g clip-path="url(%23a)"><path d="M0 0h380.113v718.995H0z"/><path fill="%23fff" d="M357.41 392.285L141.43 484.97v216.283l216.56-92.695z"/><path fill="%23fff" d="M17.992 334.21v216.418l123.947 150.49V485.104z"/><path fill="%23e60000" d="M64.15 390.238v125.178l-33.53 50.212 16.55 20.246 26.75-35.694 32.896 108.546 18.458 22.102L84.74 540.986V414.6zm164.8 56.6l-86.803 201.105 47.078-20.515v53.67l39.726-17.048v-54.597l38.54-16.51v54.33l39.73-17.048v-54.07l50.464-21.31-90.337-123.052z"/><path fill="%23fff" d="M243.65 245.397V461.68L57.725 349.815v-216.82z"/><path fill="%23e60000" d="M126.856 176.768v87.195l-68.992 3.95v44.514l69.25-3.163-.258 81.265 38.613 23.05v-37.137l-.26-44.526 78.3 91.674v-45.046L165.465 287.4v-87.98z"/><path fill="%23fff" d="M76.56 16.79h203.69v203.69H76.56z"/><path stroke="%23e60000" stroke-linejoin="round" stroke-linecap="butt" d="M76.56 16.79h203.69v203.69H76.56z"/><path fill="%23e60000" d="M96.585 118.636c0-43.17 34.997-78.168 78.168-78.168 20.73 0 40.613 8.236 55.272 22.895 14.66 14.66 22.895 34.542 22.895 55.273 0 43.17-34.997 78.167-78.167 78.167s-78.168-34.996-78.168-78.167z"/><path stroke="%23e60000" stroke-linejoin="round" stroke-linecap="butt" d="M96.585 118.636c0-43.17 34.997-78.168 78.168-78.168 20.73 0 40.613 8.236 55.272 22.895 14.66 14.66 22.895 34.542 22.895 55.273 0 43.17-34.997 78.167-78.167 78.167s-78.168-34.996-78.168-78.167z"/><path fill="%23fff" d="M243.932 245.964l12.785-23.433h24.497l36.755-20.78v124.66l-73.515 133.715z"/></g></svg>');
	background-repeat: no-repeat;
	background-position: bottom right;
  background-size: 100% auto;
	-moz-transition: all $transition-nav;
	-webkit-transition: all $transition-nav;
	transition: all $transition-nav;
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	a {
		font-weight: normal;
		color: $colour-background;
	}
	.highlight {
		font-weight: normal;
		color: $colour-background;
	}
}

.nav-item {
	padding: 1rem;
	p {
		&:last-child {margin-bottom: 0;}
	}
}

.nav-menu {
	.nav-item {
		display: block;
		padding: .5rem 1rem;
	}
	.nav-item.active {
		text-decoration: none;
		background-color: $colour-select-dark;
		border-top: 1px solid $colour-general-light;
		border-bottom: 1px solid $colour-general-light;
	}
	a.nav-item {
		text-decoration: none;
		&:hover, &:focus {background-color: $colour-select-dark;}
	}
}

.nav-toggle {
	color: $colour-background;
  background-color: transparentize($colour-general, 0.1);
  border-radius: 0.15rem;
  cursor: pointer;
	z-index: 100;
	position: fixed;
  top: 1rem;
  left: 1rem;
  display: block;
	margin: 0;
  padding: .4em .4em;
	width: $navigation-toggle-width;
	-webkit-transition: background-color,transform $transition-nav;
	-moz-transition: background-color,transform $transition-nav;
	transition: background-color,transform $transition-nav;
	&:before {
		font-family: $font-heading;
		content: "menu";
		text-transform: uppercase;
	}
	&:active {background-color: $colour-emphasis;}
}

@media all and (unquote($one-column)) {
	.nav-container {font-size: 1rem;}
	.nav-toggle {position: absolute;}
}

#nav-display {
	display: none;
	&:checked {
		~ {
			.content {
				-webkit-transform: translateX(0);
				-ms-transform: translateX(0);
				transform: translateX(0);
			}
			.nav-toggle {
				color: $colour-background;
				background-color: $colour-emphasis;
				-webkit-transform: translateX($navigation-width - $navigation-toggle-width);
				-ms-transform: translateX($navigation-width - $navigation-toggle-width);
				transform: translateX($navigation-width - $navigation-toggle-width);
				-webkit-box-shadow: 0.3rem 0.1rem 0.5rem 0 transparentize($colour-shadow, 0.1);
				-moz-box-shadow: 0.3rem 0.1rem 0.5rem 0 transparentize($colour-shadow, 0.1);
				box-shadow: 0.3rem 0.1rem 0.5rem 0 transparentize($colour-shadow, 0.1);
			}
			.nav-container {
				-webkit-transform: translateX($navigation-width);
				-ms-transform: translateX($navigation-width);
				transform: translateX($navigation-width);
				-webkit-box-shadow: 0.2rem 0 0.4rem 0 $colour-shadow;
				-moz-box-shadow: 0.2rem 0 0.4rem 0 $colour-shadow;
				box-shadow: 0.2rem 0 0.4rem 0 $colour-shadow;
			}
		}
		+ {
			.nav-container {visibility: visible;}
		}
	}
}

// -- Bug-Fix for Fixed Positioning on iPhone in Landscape -- //
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) {
		.nav-toggle {position: absolute; top: 0.4em;}
		.nav-container {position: absolute; top: -0.6em;}
}

@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : landscape) {
		.nav-toggle {position: absolute; top: 0.4em;}
		.nav-container {position: absolute; top: -0.6em;}
}
// -- Bug-Fix for Fixed Positioning on iPhone in Landscape -- //